html {
	margin: 0;
	padding: 0;

}
body {
	background-color: #3e3a3a;
	font: 12pt Courier New;
	color: white;
}

header {
	font: 20pt Courier New;
	text-align: center;
	margin-top: 20%;
}

.summary {
	margin-bottom: 230px;
	font: 12pt Courier New;
	text-align: center;
}

.summary a:link {
	color: white;
}

.preamble {
	float: left;
	width: 400px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	margin-left: 10%;
	margin-top: 10%;
	background: #ffffff; /* Цвет фона */
	border-radius: 25px;
	color: black;
}

.explanation {
	width: 400px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	background: #ffffff; /* Цвет фона */
	margin-top: 50%;
	margin-left: 55%;
	border-radius: 25px;
	color: black;
}

.participation {
	float: left;
	width: 400px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	margin-left: 10%;
	background: #ffffff; /* Цвет фона */
	border-radius: 25px;
	color: black;
}

.benefits {
	width: 400px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	background: #ffffff; /* Цвет фона */
	margin-top: 22%;
	margin-left: 55%;
	border-radius: 25px;
	color: black;
}

.requirements {
	width: auto; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	background: #ffffff; /* Цвет фона */
	border-radius: 25px;
	color: black;
}

footer {
	/*margin-top: 5%;
	margin-left: 40%;*/
	background-color: white;
	border-radius: 25px;
	margin-top: 25px;
}

footer a:link {
	margin-left: 15%;
	color: black;
	background-color: white;
}

#design-selection {
	float: left;
	width: 400px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	background: #ffffff; /* Цвет фона */
	margin-top: 25px;
	margin-left: 5%;
	border-radius: 25px;
	color: black;
}

#design-archives {
	float: left;
	width: 200px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	background: #ffffff; /* Цвет фона */
	margin-top: 25px;
	margin-left: 5%;
	border-radius: 25px;
	color: black;
}

#zen-resources {
	float: left;
	width: 200px; /* Ширина элемента в пикселах */
	padding: 25px; /* Поля вокруг текста */
	background: #ffffff; /* Цвет фона */
	margin-top: 25px;
	margin-left: 5%;
	border-radius: 25px;
	color: black;
}

@media all and (max-width: 1000px) {

	.preamble {
		width: 300px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.explanation {
		width: 300px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.participation {
		width: 300px; /* Ширина элемента в пикселах */
		background: #ffffff; /* Цвет фона */
	}

	.benefits {
		width: 300px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

}

@media all and (max-width: 750px) {

	.preamble {
		width: 200px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.explanation {
		width: 200px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.participation {
		width: 200px; /* Ширина элемента в пикселах */
		background: #ffffff; /* Цвет фона */
	}

	.benefits {
		width: 200px; /* Ширина элемента в пикселах */
		margin-top: 10%;
	}

	.main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

}
